.header {
    font-family: Abril Fatface, Arvo;
    font-size: 1.25em;
    text-align:center;
    color: #685044;
    background-color: #EDBDB3;
    padding: 10px
}

body{
    background-color: #FAE4D2;
}

/*       NAVIGATION BAR       */

.nav-bar > div {
    padding: 10px;
}
ul {
    list-style-type: none;
    text-align:center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E9AFA3;
}
  
li {
    display:inline;
}
  
li a {
    display:inline-block;
    color:#FFE8D6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arvo;
}
  
  /* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #FCBDB0;
}
.active {
    background-color: #BF9086;
}

/*            CONTENT           */

/*           HOME PAGE         */

#home .main-body {
    display: flex;
    font-family: Open Sans;
    padding: 30px;
    color: #685044
}

#home .text_title{
    padding: 10px;
    font-family: Arvo;
}
#home img{
    width: 300px; 
    height: 386.5px;
    border: 15px solid #EDBDB3;
}
#home .img {
    padding-right: 30px;
    float: left;
}

h2{
    font-family: Arvo;
    font-size: 2em;
    padding: 0px;
}

h3{
    font-family: Arvo;
    font-size: 1.5em;
}

/*           TRAVEL PAGE          */
#images .main-body {
    text-align: center;
    font-family: Open Sans;
    padding: 0px ;
    color: #685044
}

#images .container {
    display: grid;
    margin: 0 auto;
    padding: 0px;
    grid-template-columns: repeat(auto-fill,minmax(200px,auto));
    justify-content: center;
    align-items: center;
}
#images .landscape{
    grid-column: span 2;
}

#images .portrait{
    grid-row: span 2;
}
   
#images img {   
    max-width: 100%;
    display: block;
    cursor: pointer;
}

  
#pic:hover {
    opacity: 0.9;
}
  
  .modal {
    display: none; 
    position: fixed;
    z-index: 98;
    padding-top: 50px;
    padding-bottom: 50px;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 
  }
  
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 800px;
  }

/*           MUSIC PAGE          */

#videos .main-body {
    text-align: center;
    font-family: Open Sans;
    padding: 0px;
    color: #685044;
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
}

/*          COOKING PAGE         */

#ext_links .main-body {
    text-align: center;
    font-family: Open Sans;
    padding: 0px;
    color: #685044;
}

#ext_links .text_title{
    padding: 10px;
    font-family: Arvo;
}

#ext_links img{
    width: 200px; 
    height: 257.7px;
    border: 15px solid #EDBDB3;
}

#ext_links .img {
    float: left;
    padding-right: 30px;
}

#ext_links .recipe{
    display: flex;
    font-family: Open Sans;
    padding: 30px;
    color: #685044;
    align-items: center;
}

#back_to_top:hover {
    background-color: #FCBDB0;
    color: #FFE8D6;
    text-decoration: none;
}


#scroll{
    position: fixed;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

#back_to_top {
  display: none;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 99;
  border-radius: 4px;
  color: #FFE8D6;
  background-color: #E9AFA3;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  font-family: Arvo;
}

#back_to_top:hover {
  background-color: #FCBDB0;
  color: #FFE8D6;
}