.header {
    font-family: Abril Fatface, Arvo;
    text-align:center;
    color: #685044;
    background-color: #EDBDB3;
    padding: 10px
}
.nav-bar > div {
    padding: 10px;
}
ul {
    list-style-type: none;
    text-align:center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #E9AFA3;
  }
  
  li {
    display:inline;
  }
  
  li a {
    display:inline-block;
    color:#FFE8D6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arvo;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #FCBDB0;
  }
.active {
    background-color: #BF9086;
}
body{
    background-color: #FAE4D2;
}
#home body{
    background-color: white;
}
#main-body {
    display: flex;
    font-family: Open Sans;
    padding-top: 30px;
    color: #685044
}