.header {

}
.nav-bar > div {
    padding: 10px;
}
.tab {
    background-color: cornflowerblue;
    color: white;
    
}
.tab.extra {
    background-color: darkseagreen; 
    
}
#main-body {
    display: flex;
}